<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection</title>

</head>
<body>
    <h1>Prototype-0</h1>

    <!-- Image stream styled -->
    <video id="webcam" width="640" height="480" autoplay></video>
    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
    <button id="detectBtn">Detect Objects</button>
    <div id="results"></div>

    <script src="/static/script.js"></script>
</body>
</html>